<launch>

    <!-- <arg name="mode" default="start_pickandplace.py"/> -->
    <arg name="mode" default="telemanipulation_pnp.py"/>

    <!-- activate VGC10 -->
    <node name="vacuum_demo_node" pkg="VGC10_control" type="vacuum_demo.py" output="screen"></node>

    <!-- visualize the virtual box -->
    <!-- <node name="virtual_box_visualizer_node" pkg="VGC10_control" type="virtual_box_visualizer.py" output="screen">
    </node> -->
    <node name="fov_collision_node" pkg="collision_detect" type="fov_collision_detector" output="screen"/>

    <!-- move to target pose and placing pose -->
    <node name="start_pickandplace_node" pkg="VGC10_control" type="$(arg mode)" output="screen">
    </node>
    <!-- <node name="start_pickandplace_node" pkg="VGC10_control" type="telemanipulation_pnp.py" output="screen">
    </node> -->

</launch>